.main-section {
    padding-top: 0 !important;
}

.title {
    font-size: 36px;
    font-weight: 600;
    display: block;
}

.on {
    font-size: 18px;
    text-align: justify;
    margin: 20px 0 25px 0;
}

.developers-list {
    background-color: var(--color-08);
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border-radius: 10px;
}

.developers-list .card {
    background-color: var(--color-03);
    width: 100%;
    display: block;
    border-radius: 0 10px 10px 0;
    padding: 20px;
    cursor: pointer;
    border: 1px solid var(--color-01);
    border-left: 5px solid var(--color-01);
}   

.developers-list .card h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.developers-list .card a {
    padding-right: 10px;
}

.developers-list .card a:hover {
    text-decoration: underline !important;
}

.developers-list .card:hover {
    transform: translateX(5px);
}


.developers-list .card a {
    color: var(--color-01);
    text-decoration: none;
}

.developers-list .card a i {
    margin-right: 5px;
}

.developers-list .card img {
    width: 70px;
    display: inline;
    object-fit: cover;
    float: right;
}
